<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Login and Registration</title>

</head>

<body>
    <div class="has-bg-img">
        <div class="container mt-5 w-50 p-5 text-warning bg-dark">
            <h1 class="d-flex justify-content-center"> Regex Validator</h1>
            <div class="row">
                <div class="col">
                    <h1>Register:</h1>
                    <form action="/register_user" method="post">
                        <h3>Username:</h3>

                        {% with messages = get_flashed_messages(category_filter = ["username"]) %}
                        {% if messages %}
                        {% for message in messages %}
                        <p class="bg-danger w-50 text-center text-white rounded mt-1">{{message}}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}


                        <h3><input type="text" name="username"></h3>
                        <h3>Password:</h3>

                        {% with messages = get_flashed_messages(category_filter = ["password"]) %}
                        {% if messages %}
                        {% for message in messages %}
                        <p class="bg-danger w-50 text-center text-white rounded mt-1">{{message}}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        <h3><input type="password" name="password"></h3>
                        <h3>Confirm Password:</h3>
                        <h3><input type="password" name="confirmpassword"></h3>
                        <h3><input type="submit" class="btn btn-secondary" value="Register"></h3>
                    </form>
                </div>
                <div class="col">
                    <h1>Log In:</h1>
                    <form action="/login_user" method="POST">
                        <h3>Username:</h3>
                        {% with messages = get_flashed_messages(category_filter = ["login"]) %}
                        {% if messages %}
                        {% for message in messages %}
                        <p class="bg-danger w-50 text-center text-white rounded mt-1">{{message}}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <h3><input type="text" name="username"></h3>
                        <h3>Password:</h3>
                        <h3><input type="password" name="password"></h3>
                        <h3><input type="submit" class="btn btn-secondary" value="Login"></h3>
                    </form>
                    <a href="/guest/dashboard">Continue As Guest</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>